# CASESTUDY ON HYPOTHESIS OF TESTING

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
data=pd.read_csv('Sales_add.csv')

In [16]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
#Null hypothesis =  No increase in sales after stepping into digital marketing.
#Alternative hypthesis = There is increase in sales after stepping into digital marketing.

In [19]:
import scipy.stats as stats

SALES_BEFORE=data['Sales_before_digital_add(in $)']
SALES_AFTER=data['Sales_After_digital_add(in $)']

In [20]:
#To check normal ditribution.

In [26]:
print(stats.shapiro(SALES_BEFORE))
print(stats.shapiro(SALES_AFTER))

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)
ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [23]:
#P value is more than 0.05 hence there is normal distribution.

In [ ]:
#checking for equal variance.

In [27]:
stats.levene(SALES_BEFORE,SALES_AFTER,center='mean')

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [ ]:
#Here P value is less than 0.05 hence there is no equal variance so we go for Welch t test.

In [28]:
stats.ttest_ind(SALES_BEFORE,SALES_AFTER,equal_var= False)

Ttest_indResult(statistic=-12.995084451110877, pvalue=1.1019671619608604e-14)

In [ ]:
# Analysing the above result we can neglect null hypothesis and accepting alternative hypothesis
#There is increase in sales after stepping into digital marketing.

2.The company needs to check whether there is any dependency between the features "Region " and "Manager".

In [ ]:
#Null hypothesis = variables are independent
#Alterantive hypothesis = variables are dependent

In [29]:
from scipy.stats import chi2_contingency

crosstab = pd.crosstab(data['Region'],data['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [46]:
Cont = chi2_contingency(crosstab)
print(Cont)

(3.050566893424036, 0.5493991051158094, 4, array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [47]:
Chi_Stat_value=Cont[0]
P=Cont[1]
DOF=Cont[2]
alpha=0.05

In [44]:
criticalvalue=stats.chi2.ppf(0.95,4)
criticalvalue
( # 0.95=1-alpha value
 #4= degree of freedom)

9.487729036781154

In [49]:
if (Chi_Stat_value>=criticalvalue)&(P<=alpha):
    print('Reject null hypothesis and there is dependency between 2 variables')
else:
    print('Accept null hypothesis and there is no dependency between 2 variables')

Accept null hypothesis and there is no dependency between 2 variables

In [ ]:
#ANLAYSIS is that here there is no dependency between 'Region ' &' Manager'